# Gradle
.gradle/
build/

# Local configuration (sdk path, etc)
local.properties

# Android Studio / IntelliJ
*.iml
.idea/
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Mac / system files
.DS_Store

# Build outputs
/captures
.externalNativeBuild
.cxx

# APK / AAB outputs
*.apk
*.aab

# Signing keys
*.jks
*.keystore

# Firebase / Google Services config
app/google-services.json

# Log files
*.log